/* Footer */
#footer {
    padding: 80px 0 66px;
    background: var(--color-1);
    position: relative;
    color: var(--color-2);
}

#footer.home {
    padding: 210px 0 66px;
    background: url(../../../assets/images/section/bg-footer-1.jpg) center center no-repeat;
    background-size: cover;
    margin-top: -130px;
}

#footer.home .widget-menu .box-icon .icon {
    background: var(--color-7);
    box-shadow: unset;
}

#footer.home .icon-social a i {
    background: var(--color-9);
    color: var(--color-1);
}

#footer.home .icon-social a:hover i {
    background: var(--color-7);
}

#footer.home2 {
    background: #FFF3E6;
}

/* Widget Logo */
.widget-logo .logo-footer a {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-3);
}

.widget-logo p {
    padding-right: 35px;
    color: var(--color-2);
    margin-bottom: 31px;
}

.widget-logo h6 {
    margin-bottom: 20px;
    font-family: var(--font-2);
    color: #f1f1f1;
}

/* Icon Social */
.icon-social a i {
    color: var(--color-2);
    font-size: 14px;
    width: 40px;
    height: 40px;
    background-color: var(--color-6);
    text-align: center;
    line-height: 40px;
    border-radius: 200px;
    margin-right: 7px;
    transition: background 0.3s, color 0.3s;
}

.icon-social a:hover i {
    background-color: var(--color-3);
    color: var(--color-1);
    box-shadow: 0px 5px 0 var(--color-2);
}

/* Widget Menu */
.widget-menu.style-2 {
    padding-top: 1px;
    padding-left: 10px;
}

.widget-menu.style-3 {
    padding-top: 55px;
    padding-left: 19px;
}

.widget-menu.style-4 {
    padding-top: 1px;
    padding-left: 19px;
}

.widget-menu.style-4 .title-widget {
    margin-bottom: 41px;
}

.widget-menu .title-widget {
    font-size: 22px;
    margin-bottom: 28px;
}

.widget-menu .box-menu li a {
    font-family: var(--font-2);
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.15px;
    position: relative;
}

.widget-menu .box-menu li a::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: var(--color-3);
    right: 0;
    bottom: 8px;
    display: block;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: center;
    transition: transform 0.3s;
}

.widget-menu .box-menu li a:hover {
    transition: color 0.3s;
}

.widget-menu .box-menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s;
    opacity: 1;
}

.widget-menu .box-icon {
    margin-bottom: 20px;
}

.widget-menu .box-icon .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    background: var(--color-3);
    border-radius: 50%;
    flex: none;
    margin-right: 16.5px;
    box-shadow: 2px 5px 0 var(--color-2);
    transition: box-shadow 0.3s;
}

.widget-menu .box-icon .content a p {
    transition: color 0.3s;
}

.widget-menu .box-icon:hover .icon {
    box-shadow: 0px 0px 0 var(--color-2);
}

/* Widget Subscribe */
.widget-subcribe {
    margin-bottom: 20px;
}

.widget-subcribe .form-subcribe form {
    position: relative;
}

.widget-subcribe .form-subcribe input {
    background: #fff;
    width: 100%;
    padding: 18px 50px 18px 56px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-2);
    border: 1px solid rgba(255, 255, 255, 0.031372549);
    color: var(--color-2);
    border-radius: 0;
    transition: border 0.3s;
}

.widget-subcribe .form-subcribe input:focus {
    border: 1px solid var(--color-6);
}

.widget-subcribe .form-subcribe input::placeholder {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    white-space: nowrap;
    max-width: 70%;
    overflow: hidden;
    color: var(--color-2);
    font-family: var(--font-2);
    border-radius: 0;
}

.widget-subcribe .form-subcribe i {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-4);
}

.widget-subcribe .form-subcribe button {
    right: 15px;
    top: 10px;
    position: absolute;
    border: 0;
    padding: 6px 18px 7px 20px;
    color: var(--color-1);
    transition: color 0.3s;
}

.widget-subcribe .form-subcribe button span {
    font-size: 14px;
    font-weight: 400;
}

.widget-subcribe .form-subcribe button svg {
    width: 14px;
    height: 14px;
}

/* Go Top */
.go-top {
    position: absolute;
    bottom: 25px;
    right: 7.8%;
    transform: rotate(90deg);
    cursor: pointer;
}

.go-top h5 {
    letter-spacing: -0.3px;
    position: relative;
}

.go-top h5::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 46px;
    top: 13px;
    left: -52px;
    background: #ff9c00;
}

/* Widget Social Footer */
.widget-social-footer {
    padding: 30px 0 40px;
    border-top: 1px solid rgba(18, 10, 33, 0.1);
}

.widget-social-footer.home {
    background: url(../../../assets/images/section/bg-footer-1.jpg) center center no-repeat;
    background-position: bottom;
}

