/* Header */
header {
    padding-right: 0 !important;
}

.header_1 {
    z-index: 100;
    height: 134px;
    position: absolute;
    width: 100%;
}

.header_1.home {
    height: 100px;
    #site-logo {
        height: 100px;
    }
}

#site-header-inner {
    position: absolute;
    left: 19.4%;
    top: 46%;
    border: 1px solid #00234B;
    z-index: 0;
}

#site-header-inner .wrap-inner {
    position: relative;
    padding: 0 56px 0 74px;
    background: #FFF4E7;
}

#site-header-inner .wrap-inner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -8;
    background: --color-2;
    left: 8px;
    bottom: -8px;
}

.header_1 .wrap-box {
    margin: 0 62px;
}

.title-dropdown {
    position: relative;
    padding-right: 18px;
    margin-right: 15px;
    letter-spacing: 0.2px;
}

.title-dropdown::after {
    content: '';
    width: 1px;
    background-color: --color-1;
    height: 20px;
    position: absolute;
    right: 0;
    font-weight: 300;
    top: 0;
}

.title-dropdown:nth-child(2) {
    margin-right: 3px;
}

.search-header {
    position: absolute;
    left: 23.8%;
    top: 50%;
}

.phone-box {
    margin-top: 5px;
    margin-right: -2px;
}

.phone-box .icon {
    margin-right: 10px;
    padding-top: 5px;
}

.phone-box .icon svg {
    fill: darkgreen;
    width: 22px;
    height: 22px;
}

.phone-box .content .title-phone {
    line-height: 16px;
    letter-spacing: -0.2px;
}

.wapper-home2 {
    background-color: #FFF3E6;
}

/* Site Logo */
#site-logo {
    height: 134px;
}

#site-menu {
    height: 50px;
}

#site-logo-inner {
    position: absolute;
    top: 50%;
}

#site-logo-inner a {
    display: unset;
}

.main-logo img,
.main-logo h2 {
    float: left;
}

.flat-button-top {
    transform: translateY(-50%);
    position: absolute;
    right: 0px;
    top: 45.5%;
    margin-right: 4px;
}

.flat-button-top .sc-btn-top {
    margin-top: 7px;
}

.header-home {
    border-bottom: 1px solid #000;
}

.header-home #site-header-inner {
    left: 15.45%;
    border: unset;
    border-left: 1px solid #00234B;
}

.header-home #site-header-inner .wrap-inner {
    background: transparent;
    padding: 0 20px 0 42px;
}

.header-home #site-header-inner .wrap-inner::before {
    display: none;
}

.header-home #main-nav > ul > li {
    padding: 42px 3px 35px 4.3px;
}

.header-home .header-search {
    position: relative;
    padding: 48px 0 10px;
}

.header-home .flat-button-top {
    margin-right: 0;
}

.header-home .menu-bar-right {
    width: 87px;
    padding-top: 8px;
    height: 108px;
    margin-right: 69px;
    background: transparent;
    border: unset;
    border-left: 1px solid --color-5;
    border-right: 1px solid --color-5;
    box-shadow: unset;
}

.header-home #main-nav > ul > .current-menu-item > a {
    background: --color-7;
    box-shadow: unset;
}

.header-home #main-nav > ul > li > a:hover {
    color: #fff;
    box-shadow: unset;
    background: --color-7;
}

.mode-switch {
    width: 48px;
    height: 48px;
    background-color: --color-1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

       
/* Main Nav */

#main-nav ul {
    margin: 0px;
}

#main-nav > ul > li {
    position: relative;
    list-style: none;
}

#main-nav > ul > .menu > li {
    &.menu-item-has-children > a::after {
        content: '\f078';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: 13px;
        margin-left: 6px;
        transform: translateY(7%);
    }
}

#main-nav > ul > li {
    float: left;
    padding: 21px 3px 25px 4.3px;
    z-index: 9;
}

#main-nav > ul > li > a {
    position: relative;
    font-size: 18px;
    line-height: 31px;
    font-weight: 600;
    display: flex;
    color: --color-2;
    padding: 0 14.2px 1px;
    border-radius: 5px;
}

#main-nav > ul > li > a:hover {
    color: --color-1;
    box-shadow: 4px 4px 0 --color-2;
    background: --color-3;
}

.header_1.home2 #main-nav > ul > li > a::before {
    display: none;
}

.header_1.home2 #main-nav > ul > li {
    padding: 16px 15px 16px 13px;
}

/* Sub Menu */

#main-nav .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #ffff;
    border-radius: 6px;
    box-shadow: -2px 6px 23px rgba(139, 84, 255, 0.2);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(15px);
}

#main-nav .sub-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 25px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background-color: #fff;
}

#main-nav .sub-menu li:not(:last-child) a {
    border-bottom: 1px solid #e1e1e18e;
}

#main-nav .sub-menu li a {
    display: block;
    font-size: 16px;
    color: --color-2;
    padding: 20px;
    font-weight: 600;
}

#main-nav .sub-menu .right-sub-menu {
    left: auto;
    right: 0;
}

#main-nav > ul > .current-menu-item > a {
    color: --color-1;
    box-shadow: 4px 4px 0 --color-2;
    background: --color-3;
}

#main-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#main-nav .sub-menu li.current-item a,
#main-nav .sub-menu li a:hover {
    color: --color-3;
}

#main-nav > ul > li > .sub-menu > li {
    position: relative;
}

#main-nav > ul > li > .sub-menu > li > a {
    transition: all 0.15s linear;
}

#main-nav > ul > li > .sub-menu > li > a:hover {
    padding-left: 35px;
}

#main-nav > ul > li > .sub-menu > li > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: --color-3;
    left: 15px;
    top: 28px;
    transition: all 0.3s;
}

#main-nav > ul > li > .sub-menu > li.current-item a {
    padding-left: 35px;
}

/* Mobile Menu */

#main-nav-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;
    background-color: --color-1;
    box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
}

#main-nav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}


    #main-nav-mobi ul li {
        margin: 0;
        text-align: left;
        cursor: pointer;
        padding: 0;
        border-top: 1px solid rgba(138, 138, 160, 0.3);
        position: relative;
    }
    
    #main-nav-mobi ul li:first-child {
        border-top: 0;
    }
    
    #main-nav-mobi ul li > a {
        color: --color-2;
        display: inline-block;
        font-size: 16px;
        line-height: 48px;
        padding: 0 15px;
        font-weight: 700;
    }
    
    #main-nav-mobi ul li.current-menu-item > a {
        color: --color-3;
    }
    
    #main-nav-mobi .sub-menu .menu-item a {
        margin-left: 15px;
    }
    
    #main-nav-mobi ul ul li:first-child {
        border-top: 1px solid rgba(138, 138, 160, 0.3);
    }
    
    #main-nav-mobi .current-item > a,
    #main-nav-mobi ul > li > a:hover {
        color: --color-3;
    }
    
    #main-nav-mobi .menu-item-has-children .arrow {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        font-family: "FontAwesome";
        line-height: 48px;
        position: absolute;
        right: 0px;
        text-align: center;
        top: 0;
        width: 48px;
    }
    
    #main-nav-mobi .menu-item-has-children .arrow::before {
        font-family: "Font Awesome 5 Pro";
        content: "\f107";
        color: --color-2;
    }
    
    #main-nav-mobi .menu-item-has-children.current-menu-item .arrow:before {
        background: --color-3;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #main-nav-mobi .menu-item-has-children .arrow.active {
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    
    #main-nav-mobi .menu-item-has-children .arrow.active:before {
        content: "\f107";
    }
    
    #main-nav-mobi ul ul li {
        background-color: --color-1;
        border-top: 1px solid rgba(138, 138, 160, 0.3);
    }
    
    /* Mobile Menu Button */
    .mobile-button {
        display: none;
        position: absolute;
        width: 26px;
        height: 26px;
        float: right;
        top: 50%;
        right: 0px;
        background-color: transparent;
        cursor: pointer;
        transition: all ease 0.3s;
    }
    
    .mobile-button::before,
    .mobile-button::after,
    .mobile-button span {
        background-color: --color-2;
        transition: all ease 0.3s;
    }
    
    .mobile-button::before,
    .mobile-button::after {
        content: '';
        position: absolute;
        top: 0;
        height: 3px;
        width: 100%;
        left: 0;
        top: 50%;
        transform-origin: 50% 50%;
    }
    
    .mobile-button span {
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 50%;
        overflow: hidden;
        text-indent: 200%;
    }
    
    .mobile-button::before {
        transform: translate3d(0, -7px, 0);
    }
    
    .mobile-button::after {
        transform: translate3d(0, 7px, 0);
    }
    
    .mobile-button.active span {
        opacity: 0;
    }
    
    .mobile-button.active::before {
        transform: rotate3d(0, 0, 1, 45deg);
    }
    
    .mobile-button.active::after {
        transform: rotate3d(0, 0, 1, -45deg);
    }
    
    /* Other Styles */
    .tf-button-submit:hover {
        opacity: .9;
        color: #fff;
    }
    
    .menu-bar-right {
        background: #FFD80D;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        position: relative;
        margin-right: 50px;
        box-shadow: 7px 8px 0 black;
        border: 1px solid --color-2;
    }
    
    .menu-bar-right:hover {
        box-shadow: 3px 4px 0 --color-2;
    }
    
    .menu-bar-right svg {
        transition: all 0.3s;
    }
    
    .header-search {
        position: relative;
        padding: 26px 0 10px;
        margin-left: 23px;
    }
    
    .header-search i {
        font-size: 20px;
        font-weight: 500;
        margin-right: 25px;
    }
    
    .header-search i:hover {
        color: --color-3;
    }
    
    .header-search .cart-box {
        position: relative;
    }
    
    .header-search .cart-box .cart-contents {
        position: absolute;
        border-radius: 50%;
        background-color: --color-6;
        width: 20px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: --color-1;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -16px;
        right: 5px;
        padding-top: 2px;
    }
    
    .top-search {
        position: absolute;
        right: -16px;
        top: 108%;
        width: 250px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .top-search .search-form {
        position: relative;
    }
    
    .top-search .search-field {
        background: --color-1;
        color: #010C2A;
        width: 99%;
        padding-left: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        line-height: 23px;
        padding: 13px 50px 13px 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        margin: 3px;
    }
    
    .top-search .search-field:focus {
        border: 1px solid --color-3;
        width: 99%;
        padding: 13px 50px 13px 15px;
        border-radius: 10px !important;
        color: --color-2;
        background: --color-1;
    }
    
    .top-search .search-field::placeholder {
        color: #010C2A;
        line-height: 26px;
        font-size: 16px;
    }
    
    .top-search .search {
        position: absolute;
        right: 20px;
        top: 18px;
        border: none;
        background: transparent;
    }
    
    .top-search .search i {
        opacity: 1;
        color: #010C2A;
        font-size: 18px;
        margin: 0;
    }
    
    .top-search.show {
        visibility: visible;
        opacity: 1;
    }
    
    /* Side Menu */
    .side-menu__block {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .side-menu__block-inner {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 430px;
        padding: 0 15px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        z-index: 999999;
    }
    
    .side-menu__block-inner::-webkit-scrollbar {
        display: none;
    }
    
    .side-menu__block-overlay {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.6);
        z-index: 99999;
        transform: translateX(0);
    }
    
    .side-menu__block.active {
        transform: translateX(0);
    }
    
    .side-menu__block.active .side-menu__block-overlay {
        opacity: 1;
        visibility: visible;
        transform: translateX(-250px);
        cursor: url(../../../assets/images/icon/close.png), auto;
        transition: all 0.2s ease-in-out;
    }
    
    .side-menu__top.justify-content-end {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    
    .side-menu__top.justify-content-end a {
        min-height: 50px;
        min-width: 50px;
        background-color: --color-3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .side-menu__block.active .side-menu__block-overlay {
        opacity: 1;
        visibility: visible;
        transform: translateX(-270px);
        cursor: url(../../../assets/images/icon/close.png), auto;
        transition: all 0.2s ease-in-out;
    }
