@import url(../abstracts/_variables.scss);

/* Side bar */
.search-flat {
    margin-right: 6px;
}

.search-flat .search-form .search-field {
    box-shadow: 5px 5px 0 black;
}

.search-flat .search-form .search-field::placeholder {
    color: var(--color-1) !important;
}

.side-bar .widget {
    margin-bottom: 40px;
    padding: 32px 38px 44px 39px;
    border: 1px solid var(--color-2);
}

.side-bar .widget:last-child {
    margin-bottom: 0;
}

.side-bar .widget-marketing {
    background-color: #FFE8CE;
    border: 0;
    padding: 34px 34px 41px;
}

.side-bar .widget-marketing .titles {
    margin-bottom: 23px;
}

.side-bar .widget-marketing .buttons {
    margin-bottom: 35px;
}

.side-bar .widget-title {
    position: relative;
    padding-left: 1px;
}

.side-bar .widget-title.title-search {
    margin-bottom: 19px;
}

.side-bar .widget-title.title-list {
    margin-bottom: 23px;
}

.side-bar .widget-title.title-news {
    margin-bottom: 24px;
}

.side-bar .widget-title.title-tags {
    margin-bottom: 24px;
}

.side-bar .widget-tags {
    padding: 32px 38px 27px 39px;
}

.side-bar .widget-tags .tags_cloud_inner a {
    display: inline-block;
    padding: 5px 15.5px 5px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 14px;
    margin-bottom: 16px;
    background-color: var(--bg-color2);
    box-shadow: 3px 3px 0 var(--color-2);
}

.side-bar .widget-tags .tags_cloud_inner a.active,
.side-bar .widget-tags .tags_cloud_inner a:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}

.side-bar .widget-categories li {
    position: relative;
    margin-bottom: 24px;
    padding: 20px 18px 16px 20px;
    background: var(--bg-color);
    margin-right: 6px;
    box-shadow: 5px 5px 0 black;
}

.side-bar .widget-categories li a {
    color: var(--color-2);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.side-bar .widget-categories li a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    font-weight: 700;
}

.side-bar .widget-categories li.active,
.side-bar .widget-categories li:hover {
    background: var(--color-3);
}

.side-bar .widget-categories li.active a,
.side-bar .widget-categories li:hover a {
    color: var(--color-1);
}

.side-bar .widget-categories li:last-child {
    margin-bottom: 0;
}

/* Rest of the CSS code... */
.side-bar .widget-menu .recent-news li {
    margin-bottom: 25px;
}

.side-bar .widget-menu .recent-news li:last-child {
    margin-bottom: 0 !important;
}

.side-bar .widget-menu .recent-news li .thumb {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    flex: none;
    box-shadow: 5px 5px 0 var(--color-2);
}

.side-bar .widget-menu .recent-news li .content {
    padding-left: 35px;
    padding-top: 5px;
}

.side-bar .widget-menu .recent-news li .content .days {
    font-size: 14px;
    margin-bottom: 4.5px;
    color: var(--color-3);
}

.side-bar .widget-menu .recent-news li .content .days::before {
    content: "\f272";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    margin-right: 10px;
    font-weight: 300;
    color: var(--color-3);
}

.side-bar .widget-menu .recent-news li .content .title {
    line-height: 23px;
}

.side-bar .widget-menu .recent-news li .content h5 {
    margin-bottom: 0;
}

.side-bar .widget-menu .recent-news li:hover .thumb {
    box-shadow: 5px 5px 0 var(--color-3);
}

.flat-portfolio-details .side-bar .widget {
    border: 1px solid var(--bg-color);
    background: var(--bg-color);
}

.flat-portfolio-details .side-bar .boder-box {
    height: 1px;
    width: 100%;
    background: var(--color-2);
    position: relative;
}

.flat-portfolio-details h3 {
    letter-spacing: -0.5px;
}

.flat-portfolio-details .title-info {
    margin-bottom: 26px;
}

.flat-portfolio-details .widget-info {
    padding: 32px 38px 30px 39px;
}

.flat-portfolio-details .widget-info .boder-box {
    margin-bottom: 35px;
}

.flat-portfolio-details .widget-info .box-info {
    margin-bottom: 16px;
}

.flat-portfolio-details .widget-info .box-info:last-child {
    margin-bottom: 0;
}

.flat-portfolio-details .widget-info .box-info .icon {
    flex: none;
    margin-top: 2px;
    margin-right: 10px;
}

.flat-portfolio-details .widget-info .box-info h5 {
    margin-bottom: 1px;
}

.flat-portfolio-details .widget-send .boder-box {
    margin-bottom: 30px;
}

.flat-portfolio-details #comments .comment-form fieldset {
    margin-bottom: 15px;
}

.flat-portfolio-details #comments .comment-form textarea,
.flat-portfolio-details #comments .comment-form input {
    background: var(--color-1);
    box-shadow: unset;
    border: 1px solid #120A211A;
    padding: 14px 14px 14px 25px;
}

.flat-portfolio-details #comments .comment-form textarea:focus,
.flat-portfolio-details #comments .comment-form input:focus {
    color: var(--color-2);
    border: 1px solid var(--color-3);
}

.flat-portfolio-details #comments .comment-form textarea {
    padding: 14px 14px 18px 25px;
}

.flat-portfolio-details #comments .comment-form .message-wrap {
    margin-bottom: 8px;
}

.flat-portfolio-details #comments .comment-form button {
    padding: 12px 28px 12px 30px;
}

.shop-sidebar .side-bar {
    padding-left: 20px;
}

.shop-sidebar .side-bar .widget {
    background-color: transparent;
    margin-bottom: 40px;
    border: 0;
    padding: 0;
}

.shop-sidebar .side-bar .widget.search {
    margin-bottom: 48px;
}

.shop-sidebar .side-bar:last-child {
    margin-bottom: 0;
}

/* Rest of the CSS code... */
.shop-sidebar .side-bar .widget-title {
    padding-left: 0px;
    letter-spacing: -0.2px;
}

.shop-sidebar .side-bar .widget-title.title-list {
    margin-bottom: 25px;
}

.shop-sidebar .side-bar .widget-categorie {
    padding: 0;
    margin-bottom: 43px;
}

.shop-sidebar .side-bar .widget-categorie li {
    position: relative;
    margin-bottom: 20px;
}

.shop-sidebar .side-bar .widget-categorie li h6 {
    font-size: 16px;
    font-weight: 500;
}

.shop-sidebar .side-bar .widget-categorie li span {
    float: right;
}

.shop-sidebar .side-bar .widget-categorie li:last-child {
    margin-bottom: 0;
}

.shop-sidebar .side-bar .widget-categorie li:hover {
    color: var(--color-3);
}

.shop-sidebar .side-bar .progress {
    height: 1px;
    width: 100%;
    background-color: #d1d5d3;
    margin-bottom: 22px;
}

.shop-sidebar .side-bar .progress::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: var(--color-6);
}

.shop-sidebar .side-bar .widget-price {
    padding-left: 4px;
}

.shop-sidebar .side-bar .widget-price h3 {
    margin-bottom: 28px;
}

.shop-sidebar .side-bar .widget-price .buttons {
    margin-right: 16px;
}

.shop-sidebar .side-bar .widget-product {
    padding: 0;
}

.shop-sidebar .side-bar .widget-product h3 {
    margin-bottom: 27px;
}

.shop-sidebar .side-bar .wrap-product .box-product {
    margin-bottom: 28px;
}

.shop-sidebar .side-bar .wrap-product .box-product:last-child {
    margin-bottom: 0;
}

.shop-sidebar .side-bar .wrap-product .box-product .images {
    width: 80px;
    height: 80px;
    background: #FFFAF4;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.shop-sidebar .side-bar .wrap-product .box-product .content {
    padding-left: 30px;
    margin-top: -6px;
}

.shop-sidebar .side-bar .wrap-product .box-product .content .star {
    margin-bottom: 10px;
}

.shop-sidebar .side-bar .wrap-product .box-product .content .star svg {
    width: 16px;
    height: 16px;
    margin-left: 1px;
    fill: #FAC641;
}

.shop-sidebar .side-bar .wrap-product .box-product .content h6 {
    margin-bottom: 6px;
}

.shop-sidebar .side-bar .widget-tags {
    padding: 0;
}

.shop-sidebar .side-bar .widget-tags h3 {
    margin-bottom: 25px;
    padding-left: 3px;
}

.shop-sidebar .side-bar .widget-tags .tags_cloud_inner a {
    background: var(--color-1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: unset;
    padding: 5px 19.5px 4px;
    margin-right: 7px;
    margin-bottom: 8.5px;
}

.shop-sidebar .side-bar .widget-tags .tags_cloud_inner a:hover,
.shop-sidebar .side-bar .widget-tags .tags_cloud_inner a.active {
    background: var(--color-3);
}

.shop-sidebar .side-bar .widget-tags .box-style {
    margin-left: -2px;
    padding-right: 9px;
}

/* Rest of the CSS code... */
/* price-range */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
    height: 3px;
}

.noUi-horizontal .noUi-handle {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0px;
    top: -3px;
    background-color: var(--color-3);
}

/* Styling */
.noUi-background {
    background: #D6D7D9;
}

.noUi-connect {
    background: var(--color-3);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    margin-bottom: 12px;
}

.noUi-horizontal .noUi-handle.noUi-handle-upper {
    left: -7px;
}

/* Handles and cursors */
.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.noUi-handle:active {
    border: 8px solid #0d0d0d;
    border: 8px solid rgba(13, 13, 13, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
}

/* Disabled state */
[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

.slider-labels .caption {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-2);
}

#slider-range-value1::after {
    content: " — ";
    margin: 0 2px;
}
